<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.istockphoto.com/id/1191001701/photo/popcorn-and-clapperboard.jpg?s=612x612&w=0&k=20&c=iUkFTVuU8k-UCcZDxczTWs6gkRa0nAMihp2Jf_2ASKM=);">
  <div class="container">
    <h1>Movie Lists</h1>
    <p><span data-controller="typed-js"></span></p>
  </div>
</div>

<div class="container">
  <div class="d-flex m-3">
    <div class="col-6">
      <h2>My Lists</h2>
    </div>
    <div class="col-2">
      <%= link_to "Add New List", new_list_path, class: "btn btn-success" %>
    </div>
  </div>
</div>


<div class="row">
  <% @lists.each do |list| %>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <img src="https://source.unsplash.com/random/200x200" alt="">
          <h5 class="card-title m-3"><%= list.name %></h5>
            <%= link_to "View", list_path(list), class: "btn btn-primary" %></button>
        </div>
      </div>
    </div>
  <% end %>
</div>
