<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://media.wired.co.uk/photos/606d9ea06a2b7484dab92d37/master/w_1600%2Cc_limit/wired-movie-industry.jpg');">
  <div class="container">
    <h1 class="mb-3">Movie lists</h1>
    <p><span data-controller="typed-js"></span></p>
    <%= link_to "Add New List", new_list_path, class: "btn btn-primary mt-5" %>
  </div>
</div>

<div class="text-center mt-3">
  <p>Create lists with your favorite movies, and save each movie with a personalised comment. </p>
  <p>Visit each list, to see which movies are included and read the reviews of the list</p>
</div>

<div class="container">
  <div class="lists">
    <% unless @lists.nil? %>
      <% @lists.each do |list| %>
        <%= link_to list.name.downcase, list_path(list), class: "list", style: "background-image: url(#{cl_image_path list.photo.key})" %>
      <% end %>
    <% end %>
  </div>
</div>
