// index cards
.lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  scroll-behavior: smooth;

  @media screen and (min-width: 776px) {
    grid-template-columns: 1fr 1fr;
  }

   @media screen and (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.list {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                    url(https://socialistmodernism.com/wp-content/uploads/2017/07/placeholder-image.png);
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.lists a {
  text-decoration: none;

  &:hover {
    color: rgb(135, 0, 0)
  }
}
